@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    string id = (ViewBag.UserLogged.Username == null || ViewBag.UserLogged.Username.Length == 0)
        ? ViewBag.UserLogged.Email : ViewBag.UserLogged.Username;
}
@section html_head_area {@RenderSection("html_head_area", false)}
<div class="nsnLeftCol_Container">
    @if (ViewBag.hasLeftCol)
    {
    <div class="nsnLeftCol">
        <div id="pagelet_welcome_box">
            <div class="nsnWelcomeBox uiImageBlock clearfix">
                <a class="lfloat uiImageBlockImage uiImageBlockMediumImage">
                    @{
                        string avatarFileName = SaberLily.Utils.GeneralUtils.UserImage(ViewBag.UserLogged.UserImage, ViewBag.UserLogged.Gender);
                    }
                    <img class="img" src="@Url.Content("~/static/images/avatars/" + avatarFileName)" width="40" height="40" />
                </a>
                <div class="uiImageBlockContent">
                    <div class="uiInlineBlock uiInlineBlockMiddle" style="height:40px;"></div>
                    <div class="uiInlineBlock uiInlineBlockMiddle">
                        <a class="nsnWelcomeBoxName" href="/@id">@ViewBag.UserLogged.FullName</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="pagelet_navigation">
            <div id="pagelet_pinned_nav">
                <div id="pinnedNav">
                    <div class="navHeader">Favorites</div>
                </div>
            </div>
            <div id="pagelet_bookmark_nav">
            </div>
        </div>
    </div>
    }
</div>
<div class="nsnContentCol@(ViewBag.hasRightCol?" hasRightCol":"")">
    @if (ViewBag.hasRightCol)
    {
    <div class="nsnRightCol">
        Right col
    </div>
    }
    <div class="nsnContentArea">
        <div id="pagelet_stream" class="nsn-box first">
            <div class="nsn-bodyrender">
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>