@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@section custom_head_css {@RenderSection("custom_head_css", false)}
<div class="nsnLeftCol_Container">
    <div class="nsnLeftCol">
        @RenderPage("~/Views/Shared/Frontend/pagelet/_categories_pagelet.cshtml")
    </div>
</div>
<div class="nsnContentCol hasRightCol">
    <div class="nsnRightCol">
        @RenderPage("~/Views/Shared/Frontend/pagelet/_ads_pagelet.cshtml")
    </div>
    <div class="nsnContentArea">
        <div id="pagelet_stream" class="nsn-box first">
            <h2 class="title-bar">Hikari Store Best Sellers</h2>
            <div class="nsn-bodyrender">
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>