@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@section html_head_area {@RenderSection("html_head_area", false)}
<div class="nsnLeftCol_Container">
    @if (ViewBag.hasLeftCol)
    {
    <div class="nsnLeftCol">
        <div id="pagelet_welcome_box">
            <div class="nsnWelcomeBox uiImageBlock clearfix">
                <a class="lfloat uiImageBlockImage uiImageBlockMediumImage">
                    <img class="img" src="@Url.Content("~/static/images/avatars/" + ViewBag.AvatarFileName)" width="40" height="40" />
                </a>
                <div class="uiImageBlockContent">
                    <div class="uiInlineBlock uiInlineBlockMiddle" style="height:40px;"></div>
                    <div class="uiInlineBlock uiInlineBlockMiddle">
                        <a class="nsnWelcomeBoxName" href="/@ViewBag.LoginId">@ViewBag.UserLogged.FullName</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="pagelet_navigation">
            <div id="pagelet_pinned_nav">
                <div id="pinnedNav">
                    <div class="navHeader">Favorites</div>
                    <div class="droppableNav">
                        <ul class="uiSideNav">
                            <li class="sideNavItem">
                                <a class="item" href="@Url.RouteUrl("Stream")">
                                    <span class="imgWrap itemNewsFeed"></span>
                                    <span class="linkWrap">News Feed</span>
                                </a>
                            </li>
                            <li class="sideNavItem">
                                <a class="item">
                                    <span class="imgWrap itemMessages"></span>
                                    <span class="linkWrap">Messages</span>
                                </a>
                            </li>
                            <li class="sideNavItem">
                                <a class="item">
                                    <span class="imgWrap itemFindFriends"></span>
                                    <span class="linkWrap">Find Friends</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="pagelet_bookmark_nav">
            </div>
        </div>
    </div>
    }
</div>
<div class="nsnContentCol@(ViewBag.hasRightCol?" hasRightCol":"")">
    @if (ViewBag.hasRightCol)
    {
    <div class="nsnRightCol">
    </div>
    }
    <div class="nsnContentArea">
        <div class="nsn-bodyrender">
            @RenderBody()
        </div>
    </div>
    <div class="clearfix"></div>
</div>