@{
    NewSocialNetwork.Domain.User userProfile = ViewBag.UserProfile;
}
<div id="pagelet_apps" class="UIContainer_Apps">
    <div class="uiAppListBox">
        <div class="uiAppItem">
            <a class="uiItemBox" href="@Url.RouteUrl("Stream")">
                <div class="uiItem">
                    <div class="uiItemImage itemImage_Home"></div>
                    <div class="uiItemTitle">Home</div>
                </div>
            </a>
        </div>
        <div class="uiAppItem">
            <a class="uiItemBox" href="/@ViewBag.DisplayId">
                <div class="uiItem">
                    <div class="uiItemImage itemImage_Profile"></div>
                    <div class="uiItemTitle">Profile</div>
                </div>
            </a>
        </div>
        <div class="uiAppItem">
            <a class="uiItemBox" href="/@ViewBag.DisplayId/photos">
                <div class="uiItem">
                    <div class="uiItemImage itemImage_Photos"></div>
                    <div class="uiItemTitle">Photos</div>
                </div>
            </a>
        </div>
        <div class="uiAppItem">
            <a class="uiItemBox" href="/@ViewBag.DisplayId/friends">
                <div class="uiItem">
                    <div class="uiItemImage itemImage_Friends"></div>
                    <div class="uiItemTitle">Friends</div>
                </div>
            </a>
        </div>
    </div>
</div>