<div id="pagelet_bluebar" class="UIPagelet">
    <div id="UIGlobal_BlueBarHolder" class="UIComponent loggedOut">
        <div id="UIGlobal_BlueBar">
            <div class="loggedOut_menubar_container">
                <div class="loggedOut_menubar">
                    <a class="logo" href="@Url.Content("~/")" title="Go to NSN Home">
                        <img class="logoIcon" src="@Url.Content("~/static/themes/hikari/images/logo64_color.png")" alt="NSN Logo" width="48" height="48" />
                        <img class="logoText" src="@Url.Content("~/static/themes/hikari/images/newsoclnet.png")" width="238" height="27" />
                    </a>
                    <div class="rfloat">
                        <div class="nsn_login_container">
                            <form id="login_form" action="?" method="post">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td><label for="nsn_id">ID</label></td>
                                            <td><label for="nsn_passwd">Password</label></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td><input type="text" id="nsn_id" name="nsn_id" class="uiFormText guiInputText" /></td>
                                            <td><input type="password" id="nsn_passwd" name="nsn_passwd" class="uiFormPassword guiInputText" /></td>
                                            <td><div id="nsn_signin" class="guiButton guiBlueButton">Sign In</div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input id="persist_box" class="persist_box" type="checkbox" name="persistent" />
                                                <label class="persist_box" for="persist_box">Keep me logged in</label>
                                            </td>
                                            <td><a rel="nofollow" href="#">Forgot your password?</a></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div> @*UIGlobal_BlueBar*@
        <div class="stripe hidden_elem"></div>
    </div>
</div>