<div id="pagelet_composer">
    <div id="composer-tabs">
        <ul class="uiList uiListHorizontal clearfix">
            <li class="uiListItem composer-updatestatus">
                <a class="uiIconText" href="#composer-updatestatus">
                    <span class="uiIconText">
                        <span class="icon"></span>
                        <span class="text">Update Status</span>
                    </span>
                </a>
            </li>
            <li class="uiListItem composer-addphoto">
                <a class="uiIconText" href="#composer-addphoto">
                    <span class="uiIconText">
                        <span class="icon"></span>
                        <span class="text">Add Photo</span>
                    </span>
                </a>
            </li>
            <li class="uiListItem composer-addlink">
                <a class="uiIconText" href="#composer-addlink">
                    <span class="uiIconText">
                        <span class="icon"></span>
                        <span class="text">Add Link</span>
                    </span>
                </a>
            </li>
        </ul>
        <div class="uiComposer-outer">
            <div id="composer-updatestatus" class="uiComposer uiTypeahead UIInputText">
                <form id="composer" action="@Url.RouteUrl("Go", new { controller = "UserTweet", action = "Post", uid = @ViewBag.UProfile.UserId })" method="post">
                    <div class="wrap">
                        <div class="innerWrap">
                            <div class="uiInput">
                                <textarea id="inputStatus" class="uiInputStatus autogrow" name="inputText" rows="1" cols="20"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="buttons">
                        <div class="buttons-inner">
                            <div id="postStatus" class="guiButton2 guiRedButton">Share</div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </form>
            </div>
            <div id="composer-addphoto">
                <div class="attachmentFrame">
                    <div class="attachmentContent">
                        <div class="mas">
                            <table class="composerPhotoGrid w100">
                                <tbody>
                                    <tr>
                                        <td class="borderItem prs" style="width:49%">
                                            <a class="item" href="#">
                                                <div class="title">Upload Photo</div>
                                            </a>
                                        </td>
                                        <td class="pls" style="width:49%">
                                            <a class="item" href="#">
                                                <div class="title">Create Photo Album</div>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div id="composer-addlink" class="uiComposer">
                <div class="wrap">
                    <div class="innerWrap">
                        <div class="uiInput">
                            <textarea id="inputLink" class="uiInputStatus" name="inputText" rows="2" cols="20"></textarea>
                        </div>
                        <div class="uiAddLink">
                            <div class="uiInput">
                                <input type="hidden" name="uid" value="@ViewBag.UProfile.UserId" />
                                <input class="uiFormText guiInputText w100" type="text" name="inputLink" />
                            </div>
                            <div class="guiButton addBtn">Add</div>
                        </div>
                        <div class="linkShareStage">
                            <div class="uiBlock">
                                <a class="uiCloseButton composerCloseShare" title="Remove"></a>
                                <div class="UIShareStage clearfix">
                                    <div class="UIShareStage_Image">
                                        <div class="UIShareStage_ThumbPager UIThumbPager">
                                            <div class="UIThumbPager_Loader">
                                                <img src="@Url.Content("~/static/themes/hikari/images/loading1.gif")" alt="" />
                                            </div>
                                            <div class="UIThumbPager_Thumbs">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="UIShareStage_ShareContent">
                                        <div class="UIShareStage_Title"></div>
                                        <div class="UIShareStage_Subtitle"></div>
                                        <div class="UIShareStage_Summary">
                                        </div>
                                        <div class="UIThumbPagerControl">
                                            <div class="lfloat UIThumbPagerControl_Buttons">
                                                <div class="guiButton UIThumbPagerControl_Button_Left">◄</div>
                                                <div class="guiButton UIThumbPagerControl_Button_Right">►</div>
                                            </div>
                                            <div class="lfloat UIThumbPagerControl_Text">
                                                <span class="UIThumbPagerControl_PageNumber">
                                                    <span class="UIThumbPagerControl_PageNumber_Current"></span>
                                                    of
                                                    <span class="UIThumbPagerControl_PageNumber_Total"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <div class="buttons-inner">
                        <div id="postLink" class="guiButton2 guiRedButton">Share</div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>