<div id="pagelet_copyrights" class="clearfix">
    <ul class="stores">
        <li class="first"><a>Change Language</a></li>
    </ul>
    <ul class="help">
        <li class="first"><a>About</a></li>
        <li><a>Account</a></li>
        <li><a>Help</a></li>
        <li><a>Security Policy</a></li>
    </ul>
    <div class="separator clearfix"></div>
    <ul class="copyrights">
        <li class="first">New Social Network &#169; 2012</li>
        <li><a>Terms of Use</a></li>
        <li><a>Privacy Policy</a></li>
    </ul>
    <span class="order-by-phone">Designed by Phuong Lien &lt;insaber2309@yahoo.com&gt;.</span>
</div>