@model NewSocialNetwork.Website.Models.InsertPhotoModel
@{
    ViewBag.hasLeftCol = false;
    ViewBag.hasRightCol = true;
}
<h2>Insert a Photo</h2>

<p>@ViewBag.Message</p>

@using (Html.BeginForm("InsertSave", "Photo"))
{
    <input type="text" name="test" />
    <input type="submit" value="Submit" />
}    