<div id="pagelet_ads" class="nsn-sidebox first">
    <h2 class="title-bar">Advertisement</h2>
    <div class="tile first">
        <a class="block">
            <h3>Education Pricing</h3>
            <div>
                <img src="@Url.Content("~/static/images/tmp/macbook_air.jpg")" alt="" />
            </div>
            <p>College students and teachers, save on a new Mac, software and more.</p>
            <p><span class="more">Learn more</span></p>
        </a>
    </div>
    <div class="pad">
        <img src="@Url.Content("~/static/images/tmp/camera-newincamphoto2_300x75._.png")" alt="" />
        <img src="@Url.Content("~/static/images/tmp/mass-effect3-pre-order_300x120._V140235086_.jpg")" alt="" />
        <img src="@Url.Content("~/static/images/tmp/bose_soundlink_wireless_mobile_speaker_300x120._V140173257_.gif")" alt="" />
    </div>
</div>