<div id="pagelet_categories" class="nsn-sidebox first">
    <h2 class="title-bar">Departments</h2>
    <div class="navigation-list first">
        <h3><a>Branches</a></h3>
        <ul>
            <li><a>Item 1</a></li>
        </ul>
    </div>
</div>