<div id="pagelet_discovery" class="UIPagelet nsn-discovery">
    <div class="nsn-navbar-outer">
        <div class="nsn-navbar-inner">
            <div id="hikari-navsearch-container" class="nsn-navsearch-container">
                <form class="nsn-searchbar" method="get" action="?">
                    <div class="nsn-searchfield-outer">
                        <div class="nsn-searchfield-inner">
                            <div class="nsn-searchfield-padding">
                                <input id="searchTextbox" class="nsn-searchfield-textbox" type="text" name="field-keywords" title="Search for" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>