<form method="get" action="/User">
    <div id="dlgButton" class="g-b g-b-b">Sign In</div>
    <div class="g-b g-b-r">Add Friend</div>

    <a class="g-b">Link Button</a>
    <a class="g-b g-b-b">Link Button</a>
    <a class="g-b g-b-r">Link Button</a>

    <br /><br />

    <input type="text" class="form-text" name="name" />

    <br /><br />

    <input type="submit" class="g-b" value="Sign In" />
    <input type="submit" class="g-b g-b-b" value="Sign In" />
    <input type="submit" class="g-b g-b-r" value="Sign In" />

    <p>@ViewBag.kq</p>
</form>
