@{
    ViewBag.Title = "New Social Network";
}
<div>
    @{
        foreach (var user in ViewBag.Users) {
            @:@user.UserId, @user.UserGroup.Title, @user.FullName<br />
        }
    }
</div>