@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    ViewBag.Title = "NSN Home";
}

<p>Đây là trang người dùng!</p>
@foreach (var user in ViewBag.Users)
{
    <p>@user.UserId, @user.FullName, @user.Email</p>
}