@{
    ViewBag.Title = "User";
}
<div id="pagelet_userlogin">
    <form method="post" action="/User">
        Username: <input type="text" name="username" /><br />
        Password: <input type="password" name="password" /><br />
        <input type="submit" value="Log In" />
    </form>
    @ViewBag.LoginOK
</div>