@{
    Layout = null;
}
<div id="pagelet_photoalbumuploader">
    <div class="UIUploader_PhotoAlbum">
        <h2 class="title">Upload Photo</h2>
        <div class="uiUploaderForm">
            <form id="photoalbum-uploader-form" action="@Url.RouteUrl("Go", new { controller = "PhotoAlbum", action = "UploadSavePhotos" })" method="post">
                <div class="uiForm">
                    <div class="uiControls">
                        <table class="uiGrid">
                            <tbody>
                                <tr>
                                    <td>
                                        <input class="uiFormText guiInputText off" type="text" name="albumTitle" value="Untitled Title" size="30" />
                                    </td>
                                    <td>
                                        <select class="uiFormSelect" name="privacy">
                                            <option value="0">Public</option>
                                            <option value="1">Friends</option>
                                            <option value="10">Only Me</option>
                                        </select>
                                    </td>
                                    <td>
                                        <div class="guiButton2 browse-button">
                                            <span>Add photo..</span>
                                            <input id="photoalbum-fileupload" type="file" name="files[]" multiple="multiple" />
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="uploadActions">
                    <div class="guiButton2 guiBlueButton upload">Upload</div>
                    <div class="guiButton2 guiBlueButton xdlg">Cancel</div>
                </div>
            </form>
        </div>
    </div>
</div>