<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<configSections>
		<sectionGroup name="olympianet"/>
		<sectionGroup name="spring">
			<section name="context" type="Spring.Context.Support.MvcContextHandler, Spring.Web.Mvc"/>
			<section name="objects" type="Spring.Content.Support.DefaultSectionHandler, Spring.Core"/>
			<section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core"/>
		</sectionGroup>
		<section name="databaseSettings" type="System.Configuration.NameValueSectionHandler"/>
	</configSections>

	<spring>
		<context>
			<resource uri="~/Config/Spring-Hibernate.xml"/>
			<resource uri="~/Config/Misc.xml"/>
		</context>
		<parsers>
			<parser namespace="http://www.springframework.net/database" type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data" schemaLocation="assembly://Spring.Data/Spring.Data.Config/spring-database-1.1.xsd"/>
		</parsers>
	</spring>

	<databaseSettings>
		<add key="db.datasource" value="CERN\SQLExpress"/>
		<add key="db.user" value="sa"/>
		<add key="db.passwd" value="sysadmin"/>
		<add key="db.name" value="olympia-social-network"/>
	</databaseSettings>

	<appSettings>
		<add key="webpages:Version" value="0.0.0.1"/>
	</appSettings>

	<connectionStrings/>

	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</assemblies>
		</compilation>
		<httpHandlers>
			<add verb="*" path="*.aspx" type="Spring.Web.Support.PageHandlerFactory, Spring.Web"/>
		</httpHandlers>
		<httpModules>
			<add name="Spring" type="Spring.Context.Support.WebSupportModule, Spring.Web"/>
			<add name="WhitespaceModule" type="SaberLily.Web.Optimizers.WhitespaceModule"/>
		</httpModules>
		<pages>
			<controls>
				<add tagPrefix="spring" namespace="Spring.Web.UI.Controls" assembly="Spring.Web"/>
			</controls>
			<namespaces>
				<add namespace="System.Web.Helpers"/>
				<add namespace="System.Web.Mvc"/>
				<add namespace="System.Web.Mvc.Ajax"/>
				<add namespace="System.Web.Mvc.Html"/>
				<add namespace="System.Web.Routing"/>
				<add namespace="System.Web.WebPages"/>
			</namespaces>
		</pages>
	</system.web>

	<system.webServer>
		<handlers>
			<add name="SpringPageHandler" verb="*" path="*.aspx" type="Spring.Web.Support.PageHandlerFactory, Spring.Web"/>
			<add name="SpringContextMonitor" verb="*" path="ContextMonitor.ashx" type="Spring.Web.Support.ContextMonitor, Spring.Web"/>
		</handlers>
		<modules runAllManagedModulesForAllRequests="true"/>
		<validation validateIntegratedModeConfiguration="false"/>
	</system.webServer>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>