@{
    ViewBag.Charset = "UTF-8";
}

<!DOCTYPE html>

<html>
<head>
    <title>_AdminLayout</title>
</head>
<body>
    <div>
        Đây là trang quản trị NewSocialNetwork!
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
