@using NSN.Common;
@using NewSocialNetwork.Domain;
@{
    Layout = null;
    User user = ViewBag.MyProfile;
}
<div id="pagelet_profile_photo_change">
    <div class="UIProfilePhoto_Change">
        <form method="post" action="@Url.RouteUrl("ProfileAction", new { action = "ChangeSaveAvatar", uid = Globals.GetDisplayId(user) })" enctype="multipart/form-data">
            <div>
                <div class="pvm">
                    <input type="file" name="avatar" />
                </div>
                <div class="actions pvm">
                    <input type="submit" value="Submit" class="guiButton guiBlueButton" />
                </div>
            </div>
        </form>
    </div>
</div>