<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="databaseSettings" type="System.Configuration.NameValueSectionHandler" />
        <section name="activeRecordSettings" type="System.Configuration.NameValueSectionHandler" />
    </configSections>
    <databaseSettings>
        <add key="db.datasource" value="tcp:(local)\SQLEXPRESS" />
        <add key="db.port" value="1433" />
        <add key="db.name" value="NewSocialNetwork-with-relationship" />
        <add key="db.user" value="sa" />
        <add key="db.passwd" value="sysadmin" />
    </databaseSettings>
    <activeRecordSettings>
        <add key="dialect" value="NHibernate.Dialect.MsSql2008Dialect" />
        <add key="connection.driver_class" value="NHibernate.Driver.SqlClientDriver" />
        <add key="connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
        <add key="connection.connection_string" value="" />
        <add key="connection.connection_string_name" value="" />
        <add key="proxyfactory.factory_class" value="NHibernate.Bytecode.DefaultProxyFactoryFactory, NHibernate" />
        <add key="show_sql" value="true" />
    </activeRecordSettings>
</configuration>
