<div id="pagelet-friendrequests-stream">
    <div class="UIStream_FriendRequests">
        <div class="uiRequestContainer">
            <div class="uiFriendRequestItem">
            </div>
        </div>
    </div>
</div>