@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">
    function hello(name) {
        document.write('Hello ' + name);
    }
</script>

<div id="globalContainer">
    <h2>Index</h2>
    <p>@ViewBag.abc</p>
    <script type="text/javascript">
        hello('Tien');
    </script>
</div>