@{
    ViewBag.Title = "Olympia";
}
<script type="text/javascript">
    function hello(name) {
        document.write(' Hello ' + name + '.');
    }
</script>
<div id="globalContainer">
    @ViewBag.Welcome
    <script type="text/javascript">
        hello('Tien');
    </script>
</div>
