/*
 * @Copyleft () 2012, Free Software, No License
 * FREE FOR ALL BUT NOT MEAN THERE IS NO PRICE.
 *
 * @(#) $Id: custom_style.css,v 1.0 2012/04/25 lilylnx,saberlily Exp $
 */

.UIPage_Hikari #hikari {margin: 0 auto;min-width: 981px;max-width: 1910px;}
.UIPage_Hikari #globalContainer,
.UIPage_Hikari #globalFooter {width: 981px;min-width: 981px;}
