/*
 * @Copyleft () 2012, Free Software, No License
 * FREE FOR ALL BUT NOT MEAN THERE IS NO PRICE.
 *
 * @(#) $Id: custom_style.css,v 1.0 2012/04/25 lilylnx,saberlily Exp $
 */

.UIPage_Hikari #hikari {margin: 0 auto;min-width: 981px;max-width: 1910px;}
.UIPage_Hikari #globalContainer,
.UIPage_Hikari #globalFooter {width: 981px;min-width: 981px;}

/*CSS Profile*/

.UIProfileInfo {
  float: left;
  display: block;
  max-width: 565px;
  min-width: 191px;
  white-space: normal;
}
.UIProfileInfo .uiBoxTop .title {
  margin-bottom: 20px;
  line-height: 32px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-variant: small-caps;
  border-bottom: 1px solid #e7ebee;
  text-transform: lowercase;
}
.uiProfileBasic .row {
  padding: 10px 0;
  font: normal 13px arial, sans-serif;
  color: #333;
  border-top: none;
  text-align: left;
}
.uiProfileBasic .row .label,
.uiProfileBasic .row .text {
  position: relative;
  display: -moz-inline-box;
  display: inline-block;
}
.uiProfileBasic .row .label {
  margin-bottom: 0;
  width: 110px;
  line-height: 1.2em;
  font-size: 15px;
  font-weight: normal;
  text-align: right;
  vertical-align: top;
}
.uiProfileBasic .row .text {
  padding-left: 7px;
  width: 390px;
  line-height: 1.39em;
  color: gray;
  vertical-align: top;
}

.UIGrid_Friends {
  position: relative;
}
.UIGrid_Friends h2.title {
  padding: 19px 30px 0;
}
.UIGrid_Friends .uiFriendsContainer {
  display: table;
  padding: 30px;
}
.UIGrid_Friends .uiFriendItem {
  position: relative;
  float: left;
  padding-right: 23px;
  padding-bottom: 10px;
  width: 250px;
}
.UIGrid_Friends .friendAvatar {
  float: left;
  overflow: hidden;
  margin-right: 10px;
  width: 100px;
  height: 100px;
}
.UIGrid_Friends .friendInfo {
  display: table-cell;
  vertical-align: top;
}
.UIGrid_Friends .friendInfo .name {
  overflow: hidden;
  word-wrap: nowrap;
}

/*Photo Album By User*/
.album {
  position: relative;
  padding: 0;
}
.album .albumItem {
  position: relative;
  float: left;
  display: table-cell;
  margin: 0 26px 20px 0;
  width: 186px;
  height: 163px;
}
.album .albumItem.last {
  margin-right: 0;
}
.album .albumItem .albumImage {
  position: relative;
  display: inline-block;
  margin-right: 9px;
  margin-bottom: 4px;
  height: 120px;
  width: 177px;
  background: #fff;
  border: 1px solid #ccc;
  outline: none;
  vertical-align: bottom;
}

.album .albumItem .albumImage .frontImageAlbum {
  position: absolute;
  top: 4px;
  left: 4px;
  padding: 4px;
  width: 167px;
  height: 111px;
  background: #fff;
  border: 1px solid #ccc;  
  z-index: 2;
}
.UIGrid_Album {
  position: relative;
}

.UIGrid_Album h2.title {
  padding: 19px 30px 0;
}

.UIGrid_Album .UIAlbumContainer {
  display: table;
  padding: 30px 0 0 30px;
}

.UIGrid_Album .albumActions {
  position: relative;
  float: right;
  top: 19px;
  right: 30px;
}

.UIGrid_Album #createAlbum {
  margin-right: 0;
}

.UIUploader_PhotoAlbum,
.UIUploader_Photo {
  position: relative;
  width: 800px;
}
.UIUploader_PhotoAlbum h2.title,
.UIUploader_Photo h2.title {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 23px;
}
.UIUploader_PhotoAlbum .uiUploaderForm,
.UIUploader_Photo .uiUploaderForm {
  position: relative;
  padding-top: 17px;
  padding-bottom: 25px;
}
.UIUploader_PhotoAlbum .uiForm,
.UIUploader_Photo .uiForm {
  padding-bottom: 17px;
}
.UIUploader_PhotoAlbum .uploadActions,
.UIUploader_Photo .uploadActions {
  clear: left;
  margin-top: 15px;
}
.UIUploader_PhotoAlbum input,
.UIUploader_Photo input {
  outline: 0;
}
.UIUploader_PhotoAlbum .uiGrid {
  margin-top: 15px;
}
.UIUploader_PhotoAlbum .uiGrid td,
.UIUploader_Photo .uiGrid td {
  padding: 5px 5px 5px 0;
  vertical-align: top;
}

.UIUploader_PhotoAlbum .uiGrid .uiFormText,
.UIUploader_PhotoAlbum .uiGrid .uiFormSelect,
.UIUploader_PhotoAlbum .uiGrid input[type=file],
.UIUploader_Photo .uiGrid .uiFormText,
.UIUploader_Photo .uiGrid .uiFormSelect,
.UIUploader_Photo .uiGrid input[type=file] {
  height: 28px;
}
.UIUploader_PhotoAlbum .uiGrid .browse-button,
.UIUploader_Photo .uiGrid .browse-button {
  height: 26px;
}
.UIUploader_PhotoAlbum .uiGrid .browse-button input[type=file],
.UIUploader_Photo .uiGrid .browse-button input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  line-height: 28px;
  opacity: 0;
  filter: alpha(opacity = 0);
  cursor: pointer;
}
.UIUploader_PhotoAlbum .uploadedQueueContainer,
.UIUploader_PhotoAlbum .uploadedQueue,
.UIUploader_PhotoAlbum .uploadedItem,
.UIUploader_Photo .uploadedQueueContainer,
.UIUploader_Photo .uploadedQueue,
.UIUploader_Photo .uploadedItem {
  position: relative;
}
.UIUploader_PhotoAlbum .uploadedQueueContainer,
.UIUploader_Photo .uploadedQueueContainer {
  padding-top: 15px;
}
.UIUploader_PhotoAlbum .uploadedQueue,
.UIUploader_Photo .uploadedQueue {
  min-height: 151px;
}
.UIUploader_PhotoAlbum .uploadedQueue,
.UIUploader_PhotoAlbum .uploadedItem,
.UIUploader_Photo .uploadedQueue,
.UIUploader_Photo .uploadedItem {
  overflow: hidden;
}
.UIUploader_PhotoAlbum .uploadedItem,
.UIUploader_Photo .uploadedItem {
  float: left;
  margin: 0 5px 5px 0;
  width: 193px;
  height: 144px;
  border: 1px dashed #ddd;
}

.UIUploader_Photo .albumTitle {
  line-height: 28px;
  font-size: 14px;
}

/*Photos By Album*/
.UIGrid_Photo {
  position: relative;
}
.UIGrid_Photo .uiHeadTop {
  padding: 19px 30px 0;
}
.UIGrid_Photo .photosActions {
  float: right;
}
.UIGrid_Photo .UIPhotoContainer {
  display: table;
  padding: 30px 0 0 30px;
}

.UIGrid_Photo .UIPhotoContainer .UIPhotoItem {
  position: relative;
  display: inline-block;
  margin: 0 12px 20px 0;
  padding: 4px;
  width: 185px;
  height: 139px;
  background: white;
  border: 1px solid #ccc;
  cursor: pointer;
  outline: none;
  vertical-align: bottom;
}
.UIGrid_Photo .UIPhotoItem .UIPhotoWrapper {
  position: relative;
  overflow: hidden;
}
