/*
 * FREE FOR ALL BUT DOES NOT MEAN THERE IS NO PRICE.
 *
 * @author Lien Pham
 * @version $Id:common.css,v 1.0 2011/10/03 21:14:25 saberlily Exp $
 */

*|*:-moz-any-link:focus {
  outline: none;
}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  padding: 1px 2px;
  border: 1px none;
}
input[type="button"],
input[type="submit"],
input[type="image"], label {
  cursor: default;
}
a {
  color: #2e8bcc;
  cursor: pointer;
  outline: 0;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: #d14836;
}
abbr {
  border-bottom: 1px dotted #a3756e;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Lucida Grande, Helvetica, Arial, sans-serif;
}
h1 {
  font-size: 27px;
}
h2 {
  font-size: 23px;
}
h3 {
  font-size: 17px;
}
h4, h5, h6 {
  font-size: 11px;
}
img, div {
  max-width: 100%;
}
label {
  color: #666;
  cursor: pointer;
  font-weight: bold;
  vertical-align: middle;
}
p {
  margin-bottom: .85em;
}
pre, code {
  font-family: Monaco, 'Dejavu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace;
}
strong {
  font-weight: bold;
}
html, body {
  height: 100%;
}
body {
  font: normal 12px/16px 'Lucida Grande', Helvetica, Arial, sans-serif;
  color: #333;
  vertical-align: baseline;
  visibility: visible;
}

.aero {
  opacity: .5;
}
.alignleft, .lfloat {
  float: left;
}
.alignright, .rfloat {
  float: right;
}
.block {
  display: block;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.clearfix, .section {
  clear: both;
  display: block;
  overflow: hidden;
}
.clearfix {
  zoom: 1;
}
.clearfix::after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  font-size: 0;
  visibility: hidden;
}
.direction_ltr {
  direction: ltr;
}
.direction_rtl {
  direction: rtl;
}
.fixed_elem, .fixed_always {
  position: fixed !important;
}
.hidden_elem {
  display: none !important;
}
.hidden {
  display:none;
}
.invisible_elem {
  visibility: hidden;
}
.field_container {
  position: relative;
  display: inline-block;
  width: auto;
}
.nobullet {
  list-style-type: none;
}
.w100 {
  width: 100%;
}
.widefat {
  clear: both;
  width: 100%;
}
.widefat * {
  word-wrap: break-word;
}
a.block {
  color: #333;
  text-decoration: none;
}
a.block span.link, a.block span.more {
  color: #15c;
}
a.block:hover span.link, a.block:hover span.more {
  text-decoration: underline;
}
a.more, a.block span.more {
  padding-right: 7px;
  background: url("data:image/gif;base64,R0lGODlhBAAHAIAAAACIzP///yH5BAEHAAEALAAAAAAEAAcAAAIIRA4WaeyrVCgAOw==") no-repeat 100% 60%;
  zoom: 1;
}
ol.nobullet, ul.nobullet {
  padding-left: 0;
}
table.fixed {
  table-layout: fixed;
}

.bs {
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 0 rgba(0,0,0,.1);
  box-shadow: 0 1px 0 rgba(0,0,0,.1);
}
.mas {
  margin: 5px;
}
.prs {
  padding-right: 5px;
}
.pls {
  padding-left: 5px;
}
.phs {
  padding-right: 5px;
  padding-left: 5px;
}
.nostyle, .nobd {
  border-width: 0;
}
.nostyle, .nomg {
  margin: 0;
}
.nostyle, .nopd {
  padding: 0;
}
.nostyle, .nool {
  outline: 0;
}
.stripe {
  height: 5px;
  background: url(images/stripe.gif) repeat-x;
}
.pageletTitle {
  line-height: 26px;
  font-size: 17px;
  color: #006e12
}
.nsnCopyright {
  line-height: 1.4;
  font-size: 11px;
  color: #7c8395;
  text-transform: uppercase;
}
.nsnCopyright .press {
  color: #a3756e;
}
.nsnCopyright .press:hover,
.nsnCopyright .press:active {
  color: #7d4a42;
}
.nsn-popup-msg {
  padding: 8px 0;
  font-weight: bold;
  color: #222;
}