/*
 * FREE FOR ALL BUT DOES NOT MEAN THERE IS NO PRICE.
 */

.UIPage_HikariLogin #globalContainer {
  position: relative;
  margin: 0 auto;
  zoom: 1;
}

.UIPage_HikariLogin #globalFooter {
  margin-top: 20px;
}

.UIPage_HikariLogin #pageFooter {
  margin: 0 auto;
  padding-top: 7px;
  width: 964px;
}

.UIPage_HikariLogin .gradient {
  min-width: 964px;
}
.UIPage_HikariLogin .gradientContent {
  margin: 0 auto;
  width: 964px;
}

.nsnIndexFeaturedRegistration .feature {
  width: 550px;
}
.nsnIndexFeaturedRegistration .signupForm {
  width: 383px;
}

.nsnIndexMap, .nsnRegistrationContainer {
  margin-top: 40px;
}
.nsnIndexMap {
  padding-left: 10px;
}
.nsnIndexMap .title {
  padding-left: 10px;
  width: 500px;
  line-height: 29px;
  font-family: 'Open Sans', 'Lucida Grande', Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #00872b;
  word-spacing: -1px;
}
.nsnIndexMap .map {
  margin-top: 20px;
  height: 240px;
  background: url(images/worldmap_2_2.png) no-repeat;
}

.nsnRegistrationContainer {
  line-height: 1.28;
}
.nsnRegistrationContainer .headerText {
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid #d0d0d0;
}
.nsnRegistrationContainer .mainTitle {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
}
.nsnRegistrationContainer .subTitle {
  margin-bottom: 10px;
  font-size: 15px;
}

#reg_form_box .label {
  padding-right: 3px;
  width: 105px;
  text-align: right;
}
#reg_form_box .label label {
  font-weight: normal;
  color: #333;
  vertical-align: middle;
}
#reg_form_box input, #reg_form_box select {
  margin-top: 4px;
}
#reg_form_box .w100 .field_container {
  width: 100%;
}
#reg_form_box .uiFormText {
  padding: 6px;
  width: 100%;
  font-size: 16px;
}
#reg_form_box .uiFormText:focus {
  background-color: #fdfdfd;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
}
#reg_form_box .uiFormSelect {
  padding: 5px;
}

.nsnRegistrationPPT .text {
  margin: 1em 0;
  font-size: 11px;
}

.nsnRegButton {
  padding-top: 7px;
  padding-bottom: 7px;
}
.nsnRegButton .guiRedButton {
  padding: 1px 25px 2px;
  font-size: 14px;
  font-weight: normal;
  text-transform: none;
}