/*
 * @Copyleft () 2012, Free Software, No License
 * FREE FOR ALL BUT NOT MEAN THERE IS NO PRICE.
 *
 * @(#) $Id: UIGlobal.css,v 1.0 2012/04/25 lilylnx,saberlily Exp $
 *
 * @theme: Facebook / FB-TPL-010
 */

#UIGlobal_BlueBarHolder, #UIGlobal_BlueBar {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
#UIGlobal_BlueBarHolder {
  height: 41px;
}
#UIGlobal_BlueBarHolder.loggedOut {
  height: auto;
}
#UIGlobal_BlueBarHolder.loggedOut .stripe {
  margin-top: 1px;
  height: 7px;
}
#UIGlobal_BlueBarHolder.slimHeader {
  height: 37px;
}

.slimHeader #UIGlobal_BlueBar {
  min-width: 981px;
  font-family: Tahoma, sans-serif;
  font-size: 11px;
  background: #f1f1f1 url(images/background1.png) repeat-x;
  border-bottom: 1px solid #f5f5f5;
  box-shadow: 0 1px 3px rgba(0,0,0,.3);
}
.slimHeader #nsnHeadNav {
  margin-left: 176px;
  width: 805px;
}
.slimHeader #pageNav {
  margin-right: 1px;
  padding-top: 6px;
}

.loggedOut #UIGlobal_BlueBar {
  min-width: 981px;
  background: #f1f1f1 url(images/background1.png) repeat-x;
}

#UIGlobal_BlueBar.fixed_always {
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}
#UIGlobal_BlueBar.gradient {
  background: #eaeada;
  background: -webkit-gradient(radial,200 36,0,200 -40,120,from(#fefefe),to(#eaeada)),#eaeada;
  background: -moz-radial-gradient(200px 36px,circle,#fefefe 20px,#eaeada 70px);
}
#UIGlobal_BlueBar.bs {
  border-bottom: 1px solid #aaa;
}
#UIGlobal_BlueBar .logo {
  display: inline-block;
  margin-top: 8px;
  margin-left: 10px;
  text-decoration: none;
}
#UIGlobal_BlueBar .logo .logoIcon,
#UIGlobal_BlueBar .logo .logoText {
  vertical-align: middle;
}
#UIGlobal_BlueBar .logo .logoText {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}
#UIGlobal_BlueBar .loggedOut_menubar_container {
  min-width: 980px;
  height: 82px;
}
#UIGlobal_BlueBar .loggedOut_menubar {
  margin: 0 auto;
  padding-top: 13px;
  width: 964px;
}
#UIGlobal_BlueBar .nsn_login_container table tr td {
  padding-left: 14px;
}
#UIGlobal_BlueBar .nsn_login_container label {
  color: #333;
  font-weight: normal;
}
#UIGlobal_BlueBar .nsn_login_container .uiFormText,
#UIGlobal_BlueBar .nsn_login_container .uiFormPassword {
  width: 150px;
}
#UIGlobal_BlueBar .nsn_login_container #nsn_login {
  margin-right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#UIGlobal_BlueBar .nsn_login_container .persist_box,
#UIGlobal_BlueBar .nsn_login_container .recover_box {
  vertical-align: middle;
}
#UIGlobal_BlueBar .nsn_login_container input.persist_box {
  margin-left: 0;
  padding-left: 0;
}

#UIGlobal_BlueBar #pageHead {
  overflow: visible;
  margin: 0 auto;
  width: 981px;
}

.navContainer #pageLogo {
  float: left;
}
.navContainer #pageLogo a {
  display: block;
  margin-top: 6px;
  width: 94px;
  height: 31px;
  background: url(images/nsn.png) no-repeat left 5px;
}
.navContainer #jewelContainer {
  float: left;
  padding-top: 6px;
}

.nsnJewel {
  float: left;
  position: relative;
}
.nsnJewel a.jewelButton {
  position: relative;
  display: block;
  margin: 0 0 0 1px;
  width: 24px;
  height: 31px;
  background-image: url(images/fb_sprite_icons_4.png);
  background-repeat: no-repeat;
  text-decoration: none;
}
.nsnJewel a.jewelButton:hover {
  background-color: #dadada;
}
.nsnJewel .jewelCount {
  position: absolute;
  top: 0;
  right: -1px;
  padding-bottom: 1px;
  line-height: 1.28;
  font-size: 9px;
  font-weight: bold;
  color: #fff;
}
.nsnJewel .jewelCount span {
  display: block;
  padding: 0 1px;
  background-color: #f03d25;
  border: 1px solid #d83722;
  border-top: 1px solid #e23923;
  border-bottom: 1px solid #c0311e;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 0 rgba(0,39,121,.77);
  -moz-box-shadow: 0 1px 0 rgba(0,39,121,.77);
  box-shadow: 0 1px 0 rgba(68,68,68,.77);
}

#nsnRequestsJewel a.jewelButton {
  background-position: -56px -2px;
}
#nsnMessagesJewel a.jewelButton {
  background-position: -25px -247px;
}
#nsnNotificationsJewel a.jewelButton {
  background-position: -56px -72px;
}

#navSearchForm {
  position: relative;
  margin: 9px 0 0 2px;
  width: 350px;
}

#navSearch.uiTypeahead {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
#navSearch .uiSearchInput {
  position: relative;
  display: inline-block;
  padding: 2px 0 3px;
  border-top: 1px solid #e9e9e9;
}
#navSearch .uiSearchInput input {
  margin: 0 22px 0 5px;
  padding: 1px 5px 2px 0;
  width: 315px;
  font-family: 'Lucida Grande', Tahoma, sans-serif;
  font-size: 11px;
}
#navSearch .uiSearchInput button {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 22px;
  height: 19px;
  background: #fff url(images/uiSearchButton.png) no-repeat;
  border-width: 0;
}

#pageNav .topNavLink {
  float: left;
}
#pageNav a {
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
}

.slimHeader #pageNav .topNavLink {
  height: 31px;
}
.slimHeader #pageNav .topNavLink:hover {
  background-color: #dadada;
}
.slimHeader #pageNav .topNavLink .uiProfilePhoto {
  margin: 3px 5px 3px 3px;
  width: 23px;
  height: 23px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.slimHeader #pageNav .topNavLink .tinymanName {
  display: inline-block;
  overflow: hidden;
  max-width: 175px;
  padding-right: 8px;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
}
.slimHeader #pageNav li.tinyman::before,
.slimHeader #pageNav li.middleLink::before {
  float: right;
  display: inline-block;
  margin-top: 9px;
  width: 1px;
  height: 14px;
  content: " ";
  background-color: #dadada;
}
.slimHeader #pageNav a {
  height: 31px;
  line-height: 29px;
  color: #111;
}
.slimHeader #pageNav .middleLink a,
.slimHeader #pageNav .lastLink a {
  padding: 0 8px;
}
.slimHeader #pageNav .menuPulldown {
  overflow: hidden;
  width: 24px;
  height: 31px;
  background: url(images/fb_sprite_icons_8.png) no-repeat -218px -213px;
}
.slimHeader #pageNav .openToggler .menuPulldown:hover {
  background-color: #fff;
}
.slimHeader #pageNav #navAccount.openToggler {
  position: relative;
  top: 1px;
}
.slimHeader #pageNav #navAccountLink {
  padding-right: 0;
  padding-left: 0;
}
.slimHeader #pageNav #navAccount .navSubmenu {
  padding: 3px 22px;
  line-height: 20px;
  color: #222;
}
.slimHeader #pageNav #navAccount .navSubmenu:hover,
.slimHeader #pageNav #navAccount .navSubmenu:focus,
.slimHeader #pageNav #navAccount .navSubmenu:active {
  /*background: #6d84b4;
  border-top: 1px solid #3b5998;
  border-bottom: 1px solid #3b5998;*/
  background-color: #2271A9;
  background-repeat: repeat-x;
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#2F7EB6),color-stop(100%,#2271A9));
  background-image: -webkit-linear-gradient(top,#2F7EB6 0,#2271A9 100%);
  background-image: -moz-linear-gradient(top,#2F7EB6 0,#2271A9 100%);
  background-image: -ms-linear-gradient(top,#2F7EB6 0,#2271A9 100%);
  background-image: -o-linear-gradient(top,#2F7EB6 0,#2271A9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2f7eb6',endColorstr='#2271a9',GradientType=0);
  background-image: linear-gradient(top,#2F7EB6 0,#2271A9 100%);
  color: #fff !important;
}
.slimHeader #navAccount .navigation {
  padding: 10px 0;
}
.openToggler #navAccountLink, .no_js #navAccount:hover #navAccountLink {
  position: relative;
  margin: -1px -1px 0;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.2);
  border-bottom: 0;
  color: #333;
  z-index: 2;
}
#navAccount .navigation {
  position: absolute;
  right: 0;
  top: 100%;
  margin-right: -1px;
  margin-top: -1px;
  padding: 10px 0 5px;
  min-width: 200px;
  background: #fff;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 4px 0 4px 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  z-index: 1;
}
#navAccount.openToggler .navigation, .no_js #navAccount:hover .navigation {
  display: block;
}
#navAccount .navigation a {
  display: block;
  padding: 4px 10px 5px;
  height: auto;
  font-weight: normal;
  color: #3A579a;
  white-space: nowrap;
}
#navAccount .account-group {
}
#navAccount .account-group img {
  margin-right: 5px;
}
#navAccount .account-group .block {
  line-height: 16px;
}
.dropdown-divider {
  margin: 5px 1px 6px;
  padding-top: 1px;
  border-bottom: 1px solid #ddd;
}