/*
 * FREE FOR ALL BUT DOES NOT MEAN THERE IS NO PRICE.
 */

.UIPage_Hikari {
  background: url(images/background1_2.png) repeat 50% 50%;
}

img,
.UIPage_Hikari #globalHeader,
.UIPage_Hikari #globalFooter {
  user-select:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;-khtml-user-select:none;
}

.UIPage_Hikari .gA,
.UIPage_Hikari .gl {position: relative;margin-left: auto;margin-right: auto;}
.UIPage_Hikari .gA {min-height: 100%;}
.UIPage_Hikari #globalHeader {background-color: #fff;}
.UIPage_Hikari #globalContainer {padding-bottom: 90px;height: auto;min-height: 100%;zoom: 1;}
.UIPage_Hikari #globalFooter {position: absolute;right: 0;bottom: 0;left: 0;clear: left;height: 55px;}
.UIPage_Hikari #mainContainer {}
.UIPage_Hikari .nsnContentCol {background-color: #fbfbfb;border-top: 0 !important;border: 1px solid #ddd;box-shadow: 0 1px0 1px #ccc}
.UIPage_Hikari .nsnContentCol .nsnContentArea {padding: 0 20px 20px;background-color: #fff;word-wrap: break-word;}
.UIPage_Hikari .hasLeftCol .nsnContentCol {margin-left: 178px;}
.UIPage_Hikari .hasLeftCol .hasRightCol .nsnContentArea {padding: 0 25px 20px 18px;width: 511px;}
.UIPage_Hikari .hasRightCol .nsnContentArea {float: left;margin-right: 0;width: 695px;}
.UIPage_Hikari .nsnLeftCol {float: left;padding-top:  20px;width: 178px;word-wrap: break-word;}
.UIPage_Hikari .nsnRightCol {float: right;width: 244px;word-wrap: break-word;}

.UIPage_Hikari .nsn-discovery {zoom: 1;}
.UIPage_Hikari .nsn-navbar-outer {position: relative;background-color: #e26337;}
.UIPage_Hikari .nsn-navbar-inner {height: 38px;}
.UIPage_Hikari .nsn-navsearch-container {overflow: hidden;margin-left: 177px;width: 350px;}
.UIPage_Hikari .nsn-navsearch-container .nsn-searchbar {position: relative;display: block;margin-top: 8px;}
.UIPage_Hikari .nsn-navsearch-container .nsn-searchfield-outer {overflow: hidden;height: 24px;background-color: #fff;border: 1px solid #cc4b39;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;}
.UIPage_Hikari .nsn-navsearch-container .nsn-searchfield-inner {border-top: 1px solid #e0e0e0;}
.UIPage_Hikari .nsn-navsearch-container .nsn-searchfield-padding {padding: 0 3px;}
.UIPage_Hikari .nsn-navsearch-container .nsn-searchfield-textbox {margin: 4px 0 0;padding: 0;width: 100%;border: 0;outline: 0;font-size: 12px;color: #555;}

.uiInlineBlock {display: inline-block;}
.uiInlineBlockMiddle {vertical-align: middle;}
.uiImageBlockImage, .uiImageBlockImage .img {display: block;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}
.uiImageBlockMediumImage {margin-right: 8px;}
.uiImageBlockContent {overflow: hidden;}
.uiSideNav .sideNavItem {}
.uiSideNav .item, .uiSideNav .subitem {display: block;min-height: 17px;line-height: 13px;padding: 3px 8px 0 28px;color: #333;}
.uiSideNav .item .imgWrap {width: 18px;}
.uiSideNav .sideNavItem .imgWrap {float: left;display: inline-block;margin-left: -22px;margin-top: -1px;width: 16px;height: 16px;}

.nsnWelcomeBox .nsnWelcomeBoxName {padding-bottom: 1px;}
.nsnWelcomeBoxName {display: inline-block;width: 112px;font-weight: bold;word-wrap: break-word;}
.navHeader {font-size: 17px;color: #006e12;}
.droppableNav {margin-top: 5px;margin-bottom: 10px;}
.itemNewsFeed {background: url(images/fb_sprite_icons_2.png) no-repeat -17px -410px;}
.itemMessages {background: url(images/fb_sprite_icons_3.png) no-repeat -91px -45px;}
.itemFindFriends {background: url(images/fb_sprite_icons_3.png) no-repeat -142px -45px;}

#pinnedNav {margin-top: 16px;}

#composer-tabs {
  width: 511px;
}
#composer-tabs.ui-tabs .ui-tabs-panel {
  padding: 0;
}
#composer-tabs.ui-tabs .ui-tabs-selected,
#composer-tabs.ui-tabs .ui-tabs-nav,
#composer-tabs .ui-state-default,
#composer-tabs .ui-state-hover {
  border-width: 0;
}
#composer-tabs.ui-tabs .ui-tabs-nav {
  padding: 0 0 0 1px;
}
#composer-tabs.ui-tabs .ui-tabs-nav li {
  margin-left: 10px;
}
#composer-tabs.ui-tabs .ui-tabs-nav li a {
  padding: .5em 0;
  line-height: 22px;
  color: #2e8bcc;
}
#composer-tabs.ui-tabs span.uiIconText .icon,
#composer-tabs.ui-tabs span.uiIconText .text {
  vertical-align: middle;
}
#composer-tabs.ui-tabs span.uiIconText .icon {
  display: inline-block;
  margin-right: 2px;
  width: 16px;
  height: 16px;
  background-image: url(images/fb_sprite_icons_1.png);
  background-repeat: no-repeat;
}
#composer-tabs .uiComposer-outer {
  border: 1px solid #ddd;
  border-top: 1px solid #bbb;
  -webkit-border-radius: 3x;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#composer-tabs .uiComposer .wrap {
  border-top: 1px solid #f9f9f9;
}
#composer-tabs .uiComposer .uiInput {
  padding: 5px 5px 5px 8px;
}
#composer-tabs .uiComposer .linkShareStage {
  border-top: 1px dashed #ccc;
  padding: 7px;
}
#composer-tabs .uiComposer .linkShareStage .uiBlock {
  position: relative;
}
#composer-tabs .uiComposer .linkShareStage .uiCloseButton {
  position: absolute;
  top: 0;
  right: 0;
}
#composer-tabs .uiComposer .linkShareStage:hover .uiCloseButton {
  opacity: 1;
}
.UIShareStage_Image {
  float: left;
  max-width: 100px;
  padding: 0 12px 12px 0;
}
.UIShareStage_ThumbPager {
  width: 100px;
}
.UIThumbPager .UIThumbPager_Loader {
  padding: 32px 0;
  text-align: center;
}
.UIShareStage_ShareContent {
  float: left;
  width: 290px;
}
.UIShareStage_Title {
  font-weight: bold;
  color: #000;
}
.UIShareStage_Subtitle {
  font-size: 11px;
  font-weight: normal;
  color: #666;
}
.UIShareStage_Summary {
  margin-top: 6px;
}
.UIThumbPagerControl {
  position: relative;
  line-height: 29px;
}
.UIThumbPagerControl .guiButton {
  width: 12px;
  min-width: 12px;
  margin-right: 0;
}
.UIThumbPagerControl .UIThumbPagerControl_Text {
  margin-left: 10px;
  font-size: 11px;
}
#composer-tabs .uiComposer .buttons {
  background-color: #eed;
  border-top: 1px solid #ebebeb;
}
#composer-tabs .uiComposer .buttons .buttons-inner {
  padding: 4px;
}
#composer-tabs .buttons .guiButton2 {
  float: right;
}
#composer-tabs .composer-updatestatus {
  margin-left: 0 !important;
}
#composer-tabs .composer-updatestatus .icon {
  background-image: url(images/fb_sprite_icons_2.png) !important;
  background-position: -19px -393px;
}
#composer-tabs .composer-addphoto .icon {
  background-position: -51px -118px;
}
#composer-tabs .composer-addlink .icon {
  background-position: -87px -135px;
}
#inputStatus, #inputLink {
  display: block;
  margin: 0 auto !important;
  padding: 0;
  width: 494px !important;
  min-height: 32px;
  border-width: 0;
  outline: none;
  resize: none;
}
#postStatus, #postLink {
  margin-right: 0;
}
#composer-addlink .uiAddLink {
  position: relative;
  overflow: hidden;
}
#composer-addlink .uiAddLink .uiInput {
  display: inline-block;
  width: 413px;
  vertical-align: middle;
}
#composer-addlink .uiAddLink .uiFormText {
  height: 30px;
}
#composer-addlink .uiAddLink .addBtn {
  display: inline-block;
  margin-right: 8px;
  height: 28px;
  vertical-align: middle;
}
#composer-addlink .linkShareStage {
  display: none;
}
#composer-addlink .linkShareStage .uiCloseButton {
  
}
#composer-addphoto .composerPhotoGrid .borderItem {
  border-right: 1px solid #e5e5e5;
}
#composer-addphoto .composerPhotoGrid .item {
  display: table;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 79px;
  font-weight: bold;
  text-align: center;
}
#composer-addphoto .composerPhotoGrid .item:hover {
  background-color: #ebeef4;
}
#composer-addphoto .composerPhotoGrid .title {
  display: table-cell;
  vertical-align: middle;
}

.UIContainer_Apps {
  position: fixed;
  top: 37px;
  bottom: 0;
  width: 100px;
}
.UIContainer_Content {
  position: relative;
  margin-left: 100px;
  width: auto;
  min-height: 320px;
  background-color: #fff;
  border: 1px solid #d7d7d7;
  border-top: none;
}
.uiAppListBox .uiAppItem {
  position: relative;
  margin: 0 14px;
  height: 80px;
}
.uiAppListBox .uiAppItem .uiItemBox {
  display: block;
  height: 80px;
  color: #333;
  vertical-align: middle;
}
.uiAppListBox .uiAppItem .uiItem {
  padding: 15px 0 16px 0;
}
.uiAppListBox .uiAppItem .uiItemImage {
  margin: 0 auto;
  width: 32px;
  height: 32px;
  background-image: url(images/ribbon_nav_common.png);
  background-repeat: no-repeat;
}
.uiAppListBox .uiAppItem .uiItemTitle {
  overflow: hidden;
  margin-top: 5px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.itemImage_Home {
  background-position: 0 -231px;
}
.itemImage_Profile {
  background-position: 0 -891px;
}
.itemImage_Photos {
  background-position: 0 -297px;
}
.itemImage_Friends{
  background-position: 0 -330px;
}
.UIContent_UserProfile {
  position: relative;
  min-height: 1000px;
}
.UIContent_UserProfile .uiHeadProfile {
  padding: 0 19px;
  width: 540px;
  height: 58px;
  line-height: 58px;
  background-color: #fff;
}
.UIContent_UserProfile .profileActions {
  float: right;
  white-space: nowrap;
}
.UIContent_UserProfile .uiProfileTitle {
  display: inline-block;
  overflow: hidden;
  font-size: 21px;
  text-overflow: ellipsis;
  white-space: normal;
  vertical-align: middle;
}
.UIContent_UserProfile .requestFriendAction {
  display: inline-block;
}
.UIContent_UserProfile .uiHeadCoverPhoto {
  position: relative;
  height: 180px;
  background: url(images/default_coverphoto_940x180.png) no-repeat;
}
.UIContent_UserProfile .uiBodyProfile {
  width: 550px;
}
.UIContent_UserProfile .uiBodyProfile .uiBodyProfileContent {
  padding: 19px;
}
.UISidebar_Profile {
  position: absolute;
  top: 16px;
  right: 40px;
  width: 262px;
}
.UISidebar_Profile .uiProfileImageBox {
  position: relative;
  width: 262px;
  background-color: #fff;
  z-index: 20;
}
.UISidebar_Profile .uiProfilePictureBox {
  position: relative;
  padding: 5px;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.1);
  -moz-box-shadow: 0 2px 4px rgba(0,0,0,.1);
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
}
.UISidebar_Profile .uiProfileInfoBox {
  position: relative;
  margin: 0 3px;
  background-color: #f9f9f9;
  border-width: 0 1px 1px;
  border-color: #ccc;
  border-style: solid;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  -webkit-box-shadow: 0 1px 0 rgba(101,101,101,.1);
  -moz-box-shadow: 0 1px 0 rgba(101,101,101,.1);
  box-shadow: 0 1px 0 rgba(101,101,101,.1);
  z-index: 19;
}
.UISidebar_Profile .uiProfileInfoBox .uiInfoContent {
  padding: 10px 10px 5px 15px
}
.UISidebar_Profile .uiProfileInfoBox .uiInfoContent .infoContent {
  margin-bottom: 7px;
}
.UIFeeds_Content {
  position: relative;
  clear: both;
  word-wrap: break-word;
}
.UIFeeds_Content .uiFeedItem {
  margin: 20px 0 20px 68px;
}
.UIFeeds_Content .uiFeedItem .uiFeed {
  position: relative;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.05);
  -moz-box-shadow: 0 2px 4px rgba(0,0,0,.05);
  box-shadow: 0 2px 4px rgba(0,0,0,.05);
  vertical-align: top;
  z-index: 1;
}
.UIFeeds_Content .uiFeed .feedAvatar img {
  float: left;
  margin: 0 0 0 -68px;
  padding: 0;
  border-width: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.UIFeeds_Content .uiFeed .userPost {
  padding: 16px 16px 0;
  text-overflow: ellipsis;
}
.UIFeeds_Content .uiFeed .userPost h3 {
  display: inline;
  font-size: 100%;
}
.UIFeeds_Content .uiFeed .userPost h3 a {
  -webkit-transition: color .218s;
  -moz-transition: color .218s;
  -ms-transition: color .218s;
  -o-transition: color .218s;
  transition: color .218s;
  font-weight: bold;
  color: #222;
  text-decoration: none;
}
.uiCloseButton {
  float: right;
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url(images/fb_sprite_icons_6.png);
  background-repeat: no-repeat;
  opacity: 0;
  zoom: 1;
}
.uiCloseButton:hover {
  background-position: left -32px;
  opacity: 1;
}
.uiCloseButton:active {
  background-position: left -48px;
}
.UIFeeds_Content .uiFeed:hover .uiCloseButton {
  opacity: 1;
}
.UIFeeds_Content .uiFeed .postInfo {
  font-size: 11px;
  color: #999;
}
.UIFeeds_Content .uiFeed .postInfo .time {
  margin-left: 10px;
  color: #999;
}
.UIFeeds_Content .uiFeed .feedArrow {
  position: absolute;
  top: 15px;
  left: -10px;
  display: block;
  width: 10px;
  height: 21px;
  background: url(images/gp_sprite_icons_stream_1.png) no-repeat -96px -22px;
}
.UIFeeds_Content .uiFeed .feedDetail {
  padding: 3px 16px 0;
  text-overflow: ellipsis;
}
.UIFeeds_Content .uiFeed .feedDetailContent {
  padding-bottom: 12px;
}
.UIFeeds_Content .uiFeed .feedActionBlock {
  height: 38px;
  border-top: 1px solid #ddd;
}
.UIFeeds_Content .uiFeed .feedActionBlock .lnkButton,
.UIFeeds_Content .uiFeed .feedActionBlock .literal {
  float: left;
  margin-top: 7px;
  margin-left: 7px;
  line-height: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.UIFeeds_Content .uiFeed .lnkButton img {
  float: left;
  margin-top: 2px;
  margin-right: 3px;
}
.UIFeeds_Content .uiFeedComment {
  position: relative;
  top: -3px;
  margin: 0 2px;
  background-color: #f8f8f8;
  border: 1px solid #d5d5d5;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  -webkit-box-shadow: 0 1px 0 rgba(101,101,101,.1);
  -moz-box-shadow: 0 1px 0 rgba(101,101,101,.1);
  box-shadow: 0 1px 0 rgba(101,101,101,.1);
}
.UIFeeds_Content .uiFeedComment .top {
  padding-top: 18px;
}
.UIFeeds_Content .uiFeedComment .maskAddComment {
  margin: -6px 16px 0;
  padding: 0 0 8px;
}
.UIFeeds_Content .uiFeedComment .maskText {
  margin: 1px 0 8px 0;
  padding: 5px 7px;
  background-color: #fff;
  color: #999;
  border: 1px solid #ddd;
  box-sizing: border-box;
  cursor: text;
}
.UIFeeds_Content .uiFeedComment .commentBoxOuter {
  margin-top: -3px;
}
.UIFeeds_Content .uiFeedComment .commentBox {
  margin: -5px 16px 0;
  padding: 0 0 18px 40px;
}
.UIFeeds_Content .uiFeedComment .commentAvatar img {
  float: left;
  margin: 2px 0 0 -40px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.UIFeeds_Content .uiFeedComment .commentEditorBox {
  margin-bottom: 7px;
  padding: 6px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.UIFeeds_Content .uiFeedComment .commentEditor {
  display: block;
  margin: 0;
  padding: 0;
  width: 352px;
  outline: none;
  border-width: 0;
  resize: none;
}
.UIFeeds_Content .uiCommentItem {
  position: relative;
}
.UIFeeds_Content .uiCommentItem .uiComment {
  padding: 0 14px 20px 56px;
  vertical-align: top;
}
.UIFeeds_Content .uiCommentItem .userImage {
  float: left;
  margin: 2px 0 0 -40px;
}
.UIFeeds_Content .uiCommentItem .userImage img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.UIFeeds_Content .uiCommentItem .userFullName {
  -webkit-transition: color .218s;
  -moz-transition: color .218s;
  -ms-transition: color .218s;
  -o-transition: color .218s;
  transition: color .218s;
  color: #222;
}
.UIFeeds_Content .uiCommentItem .commentInfo .time {
  margin-left: 10px;
  font-size: 11px;
  color: #999;
}
.UIFeeds_Content .uiCommentItem .commentText {
  padding-top: 2px;
  color: #555;
}
.UIFeeds_Content .uiCommentItem .commentActions {
  float: right;
}
.UIFeeds_Content .uiCommentItem:hover .commentActions > * {
  visibility: visible !important;
}
.UIFeeds_Content .uiCommentItem .commentActions .delete {
  position: relative;
  float: left;
  display: inline-block;
  margin-top: 2px;
  width: 10px;
  height: 10px;
  background: url(images/x_off.png) no-repeat;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  visibility: hidden;
}
.UIFeeds_Content .fTypeFriend {
  margin-bottom: -8px;
}
.UIFeeds_Content .fTypeFriend .subinfo {
  font-size: 11px;
  color: #999;
  text-align: right;
}
.UIFeeds_Content .fTypeLink {
}
.UIForm_RequestFriend {
  position: relative;
}
.UIForm_RequestFriend .row {
  clear: both;
  overflow: hidden;
  margin-bottom: 10px;
}
.UIForm_RequestFriend .row h3 {
  font-size: 100%;
  font-weight: normal;
}
.UIForm_RequestFriend .uiFriendProfile {
  float: left;
}
.UIForm_RequestFriend .uiFriendProfile span {
  vertical-align: top;
}
.UIForm_RequestFriend .uiFriendProfile span.block {
  display: inline-block;
}
.UIForm_RequestFriend .uiFriendProfile .avatar {
  margin-right: 4px;
}
.UIForm_RequestFriend .uiFriendProfile .title {
  display: block;
  margin-bottom: 3px;
  font-weight: bold;
}
.UIForm_RequestFriend .uiFormTextArea {
  width: 100%;
  resize: none;
}
.UIForm_RequestFriend .requestActions {
  clear: left;
  padding-top: 20px;
  padding-bottom: 30px;
}
.UIStream_FriendRequests {
  width: 350px;
}
.UIStream_FriendRequests .uiFriendRequestItem {
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}
.UIStream_FriendRequests .profileItem {
  display: inline-block;
}
.UIStream_FriendRequests .profileItem img {
  float: left;
  margin-right: 5px;
}
.UIStream_FriendRequests .profileItem .title {
  font-weight: bold;
}
.UIStream_FriendRequests .actions {
  float: right;
}

.UIList_RecommendedFriends {
  margin-top: 20px;
}
.UIList_RecommendedFriends .uiListContainer {
  padding-top: 5px;
}
.UIList_RecommendedFriends .uiListItem {
  overflow: hidden;
  padding: 5px 0 15px;
}
.UIList_RecommendedFriends .uiListItem a {
  font-weight: bold;
}
.UIList_RecommendedFriends .uiListItem img {
  float: left;
  margin-right: 5px;
}
.UIList_RecommendedFriends .info {
  color: #999;
}

.UIProfile_EditInfo .pageletTitle {
  line-height: 32px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 28px;
  font-weight: 100;
}
.UIProfile_EditInfo .uiFormInner {
  padding-top: 25px;
}
.UIProfile_EditInfo .formActions {
  padding-top: 20px;
}
.UIProfile_EditInfo .uiGridForm .row {
  overflow: hidden;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
.UIProfile_EditInfo .uiGridForm .label {
  display: inline-block;
  width: 100px;
  font-weight: bold;
  color: #333;
}
.UIProfile_EditInfo .uiGridForm .persistText {
  color: #000;
}
.UIProfile_EditInfo .uiGridForm .uiFormText,
.UIProfile_EditInfo .uiGridForm .uiFormSelect.scale {
  width: 300px;
}

.UIPhotoZoomContainer .photo {
  max-width: 600px;
  max-height: 450px;
}
body._photoZoom {
  overflow: hidden;
}
div._photoZoom {
  right: 30px !important;
  left: 30px !important;
  max-height: 940px;
  border-bottom-color: transparent;
}
div#ajax-photozoom._photoZoomInner {
  padding: 0;
}
div._photoZoomOverlay {
  background: #000;
  opacity: .75;
  filter: alpha(opacity=75);
}
.UIPhotoZoom .uiPhotoContainer {
  position: relative;
  margin-right: 340px;
}
.UIPhotoZoom .uiPhotoOuter {
  background-color: #000;
}
.UIPhotoZoom .uiPhoto {
  padding: 30px 0;
  border: 1px solid rgba(255,255,255,.3);
  -webkit-box-sizing: border-box;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.UIPhotoZoom .uiPhoto img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  image-rendering: optimizeQuality;
  vertical-align: middle;
}
.UIPhotoZoom .photoZoomActions {
  position: absolute;
  right: 2px;
  bottom: 2px;
  left: 2px;
  opacity: .7;
  text-align: right;
}
.UIPhotoZoom .photoZoomActions:hover {
  opacity: 1;
  text-decoration: none;
}
.UIPhotoZoom .photoZoomActions a {
  text-decoration: none;
}
.UIPhotoZoom .photoZoomActions .likeBtn,
.UIPhotoZoom .photoZoomActions .unlikeBtn {
  display: inline-block;
  padding: 5px 10px;
  font-size: 13px;
  font-weight: bold;
  background-color: #111;
  color: #999;
  text-align: center;
}
.UIPhotoZoom .uiPhotoShowControls {
  padding: 7px 7px 0 15px;
  text-align: right;
}
.UIPhotoZoom .uiPhotoShowControls .closeTheater {
  display: inline-block;
  width: 11px;
  height: 12px;
  margin-left: 5px;
  background: url(images/fb_sprite_icons_5.png) no-repeat -156px -98px;
  vertical-align: top;
}
.UIPhotoZoom .authorPic {
  margin-right: 10px;
}
.UIPhotoZoom .authorName {
  display: inline;
  padding-top: 1px;
  padding-bottom: 3px;
  line-height: 18px;
  font-size: 13px;
  font-weight: bold;
}
.UIPhotoZoom .info {
  font-size: 11px;
  color: #808080;
}
.UIPhotoZoom .uiPhotoCommentContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 340px;
  overflow: hidden;
}
.UIPhotoZoom .uiPhotoCommentContainer .wrap {
  position: relative;
  height: 100%;
}
.UIPhotoZoom .uiPhotoCommentContainer .rHeader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
}
.UIPhotoZoom .uiPhotoCommentContainer .uiPhotoCommentList {
  position: absolute;
  top: 25px;
  right: 0;
  bottom: 44px;
  left: 0;
  overflow-y: auto;
}
.UIPhotoZoom .uiPhotoCommentContainer .uiCommentList {
  margin: 0 20px;
}
.UIPhotoZoom .commentItem {
  margin-bottom: 1px;
  padding: 5px 5px 4px;
  background-color: #edeff4;
}
.UIPhotoZoom .commentItem .actorPic {
  float: left;
  margin-right: 8px;
}
.UIPhotoZoom .commentItem .actorPic img {
  display: block;
  width: 32px;
  height: 32px;
}
.UIPhotoZoom .commentItem .commentContent {
  display: table-cell;
  vertical-align: top;
}
.UIPhotoZoom .commentItem .actorName {
  font-weight: bold;
  color: #2e8bcc;
}
.UIPhotoZoom .commentItem .commentActions {
  padding-top: 2px;
}
.UIPhotoZoom .commentItem .commentActions .timestamp {
  font-size: 11px;
  color: #808080;
}
.UIPhotoZoom .commentItem .uiCloseButton {
  float: right;
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url(images/fb_sprite_icons_6.png);
  background-repeat: no-repeat;
  opacity: 0;
  zoom: 1;
}
.UIPhotoZoom .commentItem:hover .uiCloseButton {
  opacity: 1;
}
.UIPhotoZoom .commentItem .uiCloseButton:hover {
  background-position: left -32px;
}
.UIPhotoZoom .commentItem .uiCloseButton:active {
  background-position: left -48px;
}
.UIPhotoZoom .photoCommentInput {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px 20px 4px;
  background-color: #edeff4;
  border-top: 2px solid rgba(0,0,0,.07);
}
.UIPhotoZoom .photoCommentInput .uiProfileImage {
  float: left;
  display: block;
  margin-right: 6px;
  width: 32px;
  height: 32px;
}
.UIPhotoZoom .photoCommentInput .uiFormText {
  display: inline-block;
  width: 262px;
}

/** Stream */

.fcg {
  color: gray;
}
.fsm {
  font-size: 11px;
}
.fsn {
  font-size: 12px;
}
.fwn {
  font-weight: normal;
}
.mts {
  margin-top: 5px;
}
.pvs {
  padding-top: 5px;
  padding-bottom: 5px;
}
.uiListItem {
  display: block;
}
.uiLinkButton {
  display: inline-block;
}
.UIActionLinks_bottom {
  font-size: 11px;
}
.UIImageBlock_Image {
  float: left;
  margin-right: 10px;
}
.UIImageBlock_Image .img, img.UIImageBlock_Image, i.UIImageBlock_Image {
  display: block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.UIImageBlock_SMALL_Image {
  margin-right: 8px;
}
.UIImageBlock_ICON_Image {
  margin-right: 5px;
}
.UIImageBlock_Content {
  display: table-cell;
  vertical-align: top;
  width: 10000px;
}
.uiProfilePhotoLarge {
  width: 50px;
  height: 50px;
}
.uiProfilePhotoMedium {
  width: 32px;
  height: 32px;
}
.uiStream .uiStreamStory:first-child {
  border-width: 0;
}
.uiStream .uiStreamStory {
  margin-left: -18px;
  padding-left: 18px;
  border-top: 1px solid #e9e9e9;
}
.uiStream .uiStreamHeader {
  position: relative;
  margin: 20px 0 5px -18px;
  height: 1px;
  background-color: #e9e9e9;
}
.uiStream .uiStreamHeader .uiStreamHeaderChronologicalForm {
  position: absolute;
  top: -9px;
  right: 35px;
  background-color: #fff;
}
.uiStream .uiStreamHeader .text {
  margin: 0 2px;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 9px;
  font-weight: bold;
  color: #808080;
}
.uiStream .uiStreamHide {
  float: right;
  margin-top: 18px;
  margin-right: 10px;
}
.uiStreamMessage, .uiAttachmentTitle, .uiAttachmentDesc {
  word-break: break-word;
  word-wrap: break-word;
}
.uiStreamAttachments {
  margin-top: 10px;
  margin-bottom: 10px;
}
.uiStreamAttachments .profilePhotoAttachment, .uiStreamAttachments .external img {
  max-height: 90px;
  max-width: 90px;
}
.uiStream .uiStreamMessage {
  margin: 0 0 5px;
  font-size: 12px;
}
.uiStreamStory:hover .uiStreamHide {
  opacity: 1;
}
.uiStreamStory .actorPhoto {
  margin-top: 14px;
  margin-bottom: 14px;
}
.uiStreamStory .actorName {
  font-size: 12px;
  font-weight: bold;
  color: #000;
}
.uiStreamStory .mainWrapper {
  margin: 0 35px 14px 0;
  padding-top: 14px;
}
.uiMediaThumb {
  position: relative;
  display: inline-block;
  padding: 4px;
  background: #fff;
  border: 1px solid #ccc;
  outline: none;
  vertical-align: bottom;
}
.uiMediaThumb:hover, .uiPhotoThumb:hover {
  border: 1px solid #3B5998;
}
.uiMediaThumb i, .uiPhotoThumb i {
  display: block;
  background-color: #eee;
  background-position: center 25%;
  background-repeat: no-repeat;

}
.uiAttachmentPhotoBox .uiMediaThumb, .uiAttachmentPhotoBox .horizontalSplitContainer {
  display: inline-block;
  float: left;
}
.uiAttachmentPhotoBox .uiMediaThumb {
  padding: 2px;
}
.uiAttachmentPhotoBox .beforeHorizontalSplit {
  margin-right: 3px;
}
.uiAttachmentPhotoBox .beforeVerticalSplit {
  margin-bottom: 3px;
}
.uiListVerticalItemBorder {
  border-width: 1px 0 0;
}
.uiUfi {
  margin: 0;
  padding-top: 2px;
  width: 398px;
}
.uiUfi .ufiItem {
  background-color: #eed;
  margin-top: 1px;
  padding: 5px 5px 4px;
}
.uiUfi .uiUfiLike {
  padding-left: 3px;
  border-left: 2px solid #bbb;
}
.uiUfiComment .commentActions {
  padding-top: 2px;
}
.uiUfiComment:hover .uiCloseButton {
  opacity: 1;
}
.uiUfiAddComment .uiFormText {
  width: 100%;
}
.uiUfiLikeIcon {
  display: block;
  width: 15px;
  height: 13px;
  background-image: url(images/fb_sprite_icons_7.png);
  background-repeat: no-repeat;
  background-position: -14px -63px;
}